
/*NAV STYLING:*/
.nav {
    background-color: #FFFFE0; 
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
  
.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}


body {
    background-color: #E0FFFF;
    text-align: center;
    font-family: 'Julius Sans One';
    font-weight: bold;
}

.top-combo {
    border: thick double black;
}

.life, .legacy, .music {
    border: thin double black;
}

.act, .dead, .after {
    border: thin double black;
}

/*COLUMN STYLING:*/
.column {
    column-count: 3;
    column-gap: 40px;
    column-rule: 1px solid black;
}



/*CAROUSEL STYLING BELOW:*/
section#carousel > figure > img {
    display: none;
    margin: 0px auto;
}
section#carousel > figure.visible > img {
    display: block;
    position: relative;
    overflow: hidden;
}
section#carousel > figure > figcaption {
    display: none;
}
section#carousel > figure.visible > figcaption {
    display: none;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}


