
body {
    background-color: #E0FFFF;
    text-align: center;
    font-family: 'Julius Sans One';
    font-weight: bold;
}

.top-combo {
    border-bottom: thin double dashed;
    border-bottom-color: black;
}

main#top-page > article.life {
    border-bottom: thin double dashed;
    border-bottom-color: black;
}

<!--CAROUSEL STYLING-->
section#carousel > figure > img {
    display: none;
    margin: 0px auto;
}
section#carousel > figure.visible > img {
    display: block;
    position: relative;
    overflow: hidden;
}
section#carousel > figure > figcaption {
    display: none;
}
section#carousel > figure.visible > figcaption {
    display: none;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}
