
/*NAV STYLING:*/
.nav {
    background-color: #FFFFE0; 
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
  
.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

header {
    background-color: #E0FFFF;
    font-size: larger;
}

body {
    background-color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.lead {
    text-decoration: underline double;
}

.top-combo {
    margin-bottom: 100px;
    padding: 50px;
}

.article {
    text-align: left !important;
}


.h3 {
    text-decoration: underline double;
    background-color: #E0FFFF;
}

.border {
    border: thin;
    background-color: #E0FFFF;
    font-size: xx-large;
}

#bottom-page {
    background-color: #E0FFFF;
}

.feedback {
    display: inline-block;

}

.feedback label {
    background-color: #FFFFE0; 
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}


/*SHADOW STYLING:*/
article {
    margin: 5px 0px;
    padding: 5px 5px;    
    box-shadow: -1px -1px 6px #888888;
}


/*COLUMN STYLING:*/



/*CAROUSEL STYLING BELOW:*/
section#carousel > figure > img {
    display: none;
    margin: 0px auto;
}
section#carousel > figure.visible > img {
    display: block;
    position: relative;
    overflow: hidden;
}
section#carousel > figure > figcaption {
    display: none;
}
section#carousel > figure.visible > figcaption {
    display: none;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}


